body {
  background-image: url("https://thumbs.dreamstime.com/z/programming-source-code-html-website-development-business-program-display-hacker-background-programmer-working-132884282.jpg");
}
table {
  color: #FFFFFF;
  font-size: 14px;
}
p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
h1 {
  color: #FFFFFF;
  font-size: 26px;
  text-align:center;
}