<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 4 test Page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootstrap 4 test</title>
  <!-- Bootstrap CSS and other repositories -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.csheros" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div style="background-image:url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg');padding:5px;background-repeat:no-repeat;background-position:center;">
  <!-- main body of the page -->
  <h3>This is a test Bootstrap 4 page</h3>
  <div class="table-responsive">

    <!-- Start Table-->
    <table class="table">

      <!--Table header-->
      <thead>
      <tr>
        <th>#</th>
        <th class="th-lg">Column 1</th>
        <th class="th-lg">Column 2</th>
        <th class="th-lg">Column 3</th>
        <th class="th-lg">Column 4</th>
      </tr>
      </thead>
      <!--End Table head-->

      <!--Start Table body-->
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1-1</td>
        <td>1-2</td>
        <td>1-3</td>
        <td>1-4</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2-1</td>
        <td>2-2</td>
        <td>2-3</td>
        <td>2-4</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>3-1</td>
        <td>3-2</td>
        <td>3-3</td>
        <td>3-4</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>4-1</td>
        <td>4-2</td>
        <td>4-3</td>
        <td>4-4</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>5-1</td>
        <td>5-2</td>
        <td>5-3</td>
        <td>5-4</td>
      </tr>

      </tbody>

      <!--EndTable body-->

    </table>

    <!--Table-->

  </div>

  <div class="Paragraphs">

    <h3>Number-Cruncher</h3>
    <p>a person or thing that performs a great many numerical calculations, as a financial analyst, statistician, computer, or computer program.</p>
    <img src="http://lowres.cartoonstock.com/business-commerce-number_cruncher-number_cruncher-number_crunching-business_proposal-pitch-mba0368_low.jpg" alt="WHOOPS!? :-O" height="420" width="420">
    <p>It’s fair to say maths is not everyone’s favourite subject. In fact, for many people, the feelings of tension and anxiety that arise when trying to solve a mathematical problem can be all consuming. This is known as maths anxiety – and this feeling of being a failure at maths can affect people’s self-worth for years to come.</p>
    <p>US psychology professor, Carol Dweck, came up with the idea of “mindset theory”. Dweck realised that people can often be categorised into two groups, those who believe they are bad at something and cannot change, and those who believe their abilities can grow and improve.</p>
    <a href="https://cosmosmagazine.com/mathematics/number-crunching-without-fear">Crunching without fear</a>

  </div>

</div>

</body>

</html>
